.svg-blog-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.custom-tbody-td-background-color-info {
  background-color: #dbf6fa !important;
}
